@{
    ViewData["Title"] = "Gestão de produtos";
}

<div class="container">

    <div class="row" style="margin-bottom:10px;">
        <div class="col-10">
            <div class="input-group mb-2 mr-sm-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                        </svg>
                    </div>
                </div>
                <input type="search" class="form-control" placeholder="Pesquisar produto" />
            </div>
        </div>
        <div class="col">
            <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="Form">Novo produto</a>
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Unidade</th>
                <th>Preço</th>
                <th>Image</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.products)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Unit</td>
                    <td>BRL @item.Price</td>
                    <td><img class="img-thumbnail" style="height:80px" src="@item.Img" /></td>
                    <td>
                        <button class="btn btn-sm btn-primary">Editar</button>
                        <button class="btn btn-sm btn-danger">Eliminar</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>